### Climate Change Prediction

-  Using Time Series

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

%matplotlib inline

warnings.filterwarnings('ignore')

from datetime import datetime, timedelta

from statsmodels.tsa.seasonal import seasonal_decompose

In [19]:
df = pd.read_csv("GlobalLandTemperaturesByState.csv")

In [20]:
df

                dt  AverageTemperature  ...     State Country
0       1855-05-01              25.544  ...      Acre  Brazil
1       1855-06-01              24.228  ...      Acre  Brazil
2       1855-07-01              24.371  ...      Acre  Brazil
3       1855-08-01              25.427  ...      Acre  Brazil
4       1855-09-01              25.675  ...      Acre  Brazil
...            ...                 ...  ...       ...     ...
645670  2013-05-01              21.634  ...  Zhejiang   China
645671  2013-06-01              24.679  ...  Zhejiang   China
645672  2013-07-01              29.272  ...  Zhejiang   China
645673  2013-08-01              29.202  ...  Zhejiang   China
645674  2013-09-01                 NaN  ...  Zhejiang   China

[645675 rows x 5 columns]

In [21]:
df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [22]:
df.shape

(645675, 5)

In [23]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
State                             object
Country                           object
dtype: object

In [24]:
df.shape

(645675, 5)

In [25]:
df.isnull().sum()

dt                                   0
AverageTemperature               25648
AverageTemperatureUncertainty    25648
State                                0
Country                              0
dtype: int64

In [26]:
df.rename(columns={'dt':'Date','AverageTemperature':'Avg_temp','AverageTemperatureUncertanity':'confidence_interval_temp'}, inplace = True)

In [27]:
df.head(100)

          Date  Avg_temp  AverageTemperatureUncertainty State Country
0   1855-05-01    25.544                          1.171  Acre  Brazil
1   1855-06-01    24.228                          1.103  Acre  Brazil
2   1855-07-01    24.371                          1.044  Acre  Brazil
3   1855-08-01    25.427                          1.073  Acre  Brazil
4   1855-09-01    25.675                          1.014  Acre  Brazil
..         ...       ...                            ...   ...     ...
95  1863-04-01       NaN                            NaN  Acre  Brazil
96  1863-05-01       NaN                            NaN  Acre  Brazil
97  1863-06-01       NaN                            NaN  Acre  Brazil
98  1863-07-01       NaN                            NaN  Acre  Brazil
99  1863-08-01       NaN                            NaN  Acre  Brazil

[100 rows x 5 columns]

In [28]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace = True)
df.index

DatetimeIndex(['1855-05-01', '1855-06-01', '1855-07-01', '1855-08-01',
               '1855-09-01', '1855-10-01', '1855-11-01', '1855-12-01',
               '1856-01-01', '1856-02-01',
               ...
               '2012-12-01', '2013-01-01', '2013-02-01', '2013-03-01',
               '2013-04-01', '2013-05-01', '2013-06-01', '2013-07-01',
               '2013-08-01', '2013-09-01'],
              dtype='datetime64[ns]', name='Date', length=645675, freq=None)

In [29]:
latest_df  = df.loc['1980':'2013']

In [30]:
latest_df.head()

            Avg_temp  AverageTemperatureUncertainty State Country
Date
1980-01-01    26.652                          0.190  Acre  Brazil
1980-02-01    26.495                          0.495  Acre  Brazil
1980-03-01    26.270                          0.236  Acre  Brazil
1980-04-01    26.430                          0.201  Acre  Brazil
1980-05-01    25.802                          0.882  Acre  Brazil

In [31]:
latest_df[['Country','Avg_temp']].groupby(['Country']).mean().sort_values('Avg_temp')

                Avg_temp
Country
Canada         -0.681256
Russia          2.432833
United States  11.516373
China          12.150210
Australia      18.447621
India          22.871669
Brazil         24.537580

In [32]:
plt.figure(figsize = (9,4))
sns.lineplot(x = "AverageTemperatureUncertainty", y = "Avg_temp", data = latest_df)
plt.show()

In [ ]:
resample_df.plot(title  = 'Temperature Changes From 1980-2013', figsize = (8,5))

NameError: name 'resample_df' is not defined

In [ ]:
plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined